  body {
    font-family: Arial;
    margin: 0;
  }

  header{
    

  }


  
 img{
    max-width: 1000;
    max-height: 200px;
    padding: 20px;
    margin: center;
 }
 .img1{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.transition{
  
    width: 100px;
    height: 100px;
    background: rgb(251, 250, 250);
    transition: width 2s;
  
}

.transition :hover {
  width: 300px;
}



  .navbar {
    display: flex;
    background-color: #252525;
  }
  
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #fe8ebd;
    color: black;
  }
  
  

  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }