a 
{
    color: black;

}

header{
    color: rgb(229, 181, 212);
    background-color: rgb(175, 223, 207);
    font-size: 23px;
    


}

li a
        {
            display: block;
            padding: 8px;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            display: inline;
            float: left;
        }

li a :hover 
        {
            color: rgb(175, 223, 207);
        }

 ul 
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(229, 181, 212);
        }